body {
    margin: 0;
    padding: 0;
}
/* Estilo para el marcador personalizado */
.contenido {
    background-color: #4285F4;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
    text-align: center;
}

.contenido::after {
    content: "";
    position: absolute;
    left: 50%;
    /* top: 100%; */
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
}

/* Asegúrate de que el mapa tenga un tamaño adecuado */
#map {
    width: 70%;
    height: 400px;
    margin: auto;
    border: 5px solid #4285F4;
    border-radius: 10px;
}

/* Estilo para la imagen del clima */
.imagen-clima {
    width: 35px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 35px;
    margin-bottom: 5px;
}
.navbar {
    width: 100%;
    background-color: #4285F4;
    margin: 0;
    height: 80px;
    align-content: center;
}
.navbar-options {
    list-style: none;
    margin: 0;
    display: inline;

}

.navbar-options li {
    display: inline;
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
}